# Created by .ignore support plugin (hsz.mobi)
CMakeLists.txt


.idea/*
!/cmake-build-debug/a280.tsp
!/cmake-build-debug/atsp.opt.tour
!/cmake-build-debug/berlin52.tsp
!/cmake-build-debug/ch130.tsp
!/cmake-build-debug/ft70.atsp
!/cmake-build-debug/ftv35.atsp
!/cmake-build-debug/ftv170.atsp
!/cmake-build-debug/tsp.opt.tour
.idea/
/cmake-build-debug/CMakeFiles/
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/TravellingSalesman
/cmake-build-debug/TravellingSalesman.cbp
/cmake-build-debug/Makefile
/test_file.cpp
